[log]
LOG_PATH = D:\\log
LOG_FILE = common.log

[mysql]
MYSQL_CONFIG_PATH = D:\\Projects\\financial\\common\\config\\mysql.config

[mongodb]
MONGODB_CONFIG_PATH = D:\\Projects\\financial\\common\\config\\mongodb.config

[noloadtime]
NO_LOAD_TIME_CONFIG_PATH = D:\\Projects\\financial\\common\\config\\no_load_time.config