[mysql]
HOST = 127.0.0.1
PORT = 3306
DATABASE = financial
USERNAME = financial
PASSWORD = Hades48!
ENCODING=UTF-8
ECHO=True

### 连接池大小
POOL_SIZE=5

### 连接池收集空闭边接时长,单位为秒
POOL_RECYCLE=7200

### 超出pool_size后可允许的最大连接数
### 此参数设置的连接不放在连接池中,而是真正关闭.
MAX_OVERFLOW=10

### 获取连接的超时阈值,单位为秒
POOL_TIMEOUT=30

### 关闭自动提交
AUTOCOMIT=False

### 开启自动清除缓存
AUTOFLUSH=True

### 它能保证每个线程获得的session对象都是唯一的
EXPIRE_ON_COMMIT=False