<!DOCTYPE html>
<html style="height: 100%">
<head>
	<meta charset="UTF-8">
	<title>ST统计</title>
	<style>
		.cursor {
			cursor: pointer;
		} /*鼠标移动到标题上显示小手*/
	</style>
	
	<script>
	
		var stMaxDownAvg = {{ datas[ 1 ][ 0 ] }}
		var szMaxDownAvg = {{ datas[ 1 ][ 1 ] }}
		var shMaxDownAvg = {{ datas[ 1 ][ 2 ] }}
		var maxDownDiffAvg = {{ datas[ 1 ][ 3 ] }}
		
		var stMaxUpAvg = {{ datas[ 1 ][ 4 ] }}
		var szMaxUpAvg = {{ datas[ 1 ][ 5 ] }}
		var shMaxUpAvg = {{ datas[ 1 ][ 6 ] }}
		var maxUpDiffAvg = {{ datas[ 1 ][ 7 ] }}
		
		var stUpAvg = {{ datas[ 1 ][ 8 ] }}
		var szUpAvg = {{ datas[ 1 ][ 9 ] }}
		var shUpAvg = {{ datas[ 1 ][ 10 ] }}
		var upDiffAvg = {{ datas[ 1 ][ 11 ] }}
		
		function insertAvg( table ) {
			var len = table.rows.length
			var row = table.insertRow( len );
			
		    var cell1 = row.insertCell( 0 );
		    var cell2 = row.insertCell( 1 );
		    var cell3 = row.insertCell( 2 );
		    var cell4 = row.insertCell( 3 );
		    var cell5 = row.insertCell( 4 );
		    var cell6 = row.insertCell( 5 );
		    var cell7 = row.insertCell( 6 );
		    var cell8 = row.insertCell( 7 );
		    var cell9 = row.insertCell( 8 );
		    var cell10 = row.insertCell( 9 );
		    var cell11 = row.insertCell( 10 );
		    var cell12 = row.insertCell( 11 );
		    var cell13 = row.insertCell( 12 );
		    var cell14 = row.insertCell( 13 );
		    var cell15 = row.insertCell( 14 );
		    var cell16 = row.insertCell( 15 );
		    var cell17 = row.insertCell( 16 );
		    var cell18 = row.insertCell( 17 );
		    var cell19 = row.insertCell( 18 );
		    var cell20 = row.insertCell( 19 );
		    var cell21 = row.insertCell( 20 );
		    var cell22 = row.insertCell( 21 );
		    var cell23 = row.insertCell( 22 );
		    var cell24 = row.insertCell( 23 );
		    var cell25 = row.insertCell( 24 );
		    var cell26 = row.insertCell( 25 );
		    var cell27 = row.insertCell( 26 );
		    
		    cell1.innerHTML = "汇总";
		    cell1.style.fontSize = "14px";
		    cell1.align = "center";
		    cell2.innerHTML = " ";
		    cell3.innerHTML = " ";
		    cell4.innerHTML = " ";
		    cell5.innerHTML = " ";
		    cell6.innerHTML = " ";
		    cell7.innerHTML= stMaxDownAvg + "%";
		    cell7.style.fontSize = "14px";
		    cell7.align = "center";
		    cell8.innerHTML = szMaxDownAvg + "%";
		    cell8.style.fontSize = "14px";
		    cell8.align = "center";
		    cell9.innerHTML = shMaxDownAvg + "%";
		    cell9.style.fontSize = "14px";
		    cell9.align = "center";
		    cell10.innerHTML = maxDownDiffAvg + "%";
		    cell10.style.fontSize = "14px";
		    cell10.align = "center";
		    cell11.innerHTML = " ";
		    cell12.innerHTML = " ";
		    cell13.innerHTML = stMaxUpAvg + "%";
		    cell13.style.fontSize = "14px";
		    cell13.align = "center";
		    cell14.innerHTML = szMaxUpAvg + "%";
		    cell14.style.fontSize = "14px";
		    cell14.align = "center";
		    cell15.innerHTML = shMaxUpAvg + "%";
		    cell15.style.fontSize = "14px";
		    cell15.align = "center";
		    cell16.innerHTML = maxUpDiffAvg + "%";
		    cell16.style.fontSize = "14px";
		    cell16.align = "center";
		    cell17.innerHTML = " ";
		    cell18.innerHTML = stUpAvg + "%";
		    cell18.style.fontSize = "14px";
		    cell18.align = "center";
		    cell19.innerHTML = szUpAvg + "%";
		    cell19.style.fontSize = "14px";
		    cell19.align = "center";
		    cell20.innerHTML = shUpAvg + "%";
		    cell20.style.fontSize = "14px";
		    cell20.align = "center";
		    cell21.innerHTML = upDiffAvg + "%";
		    cell21.style.fontSize = "14px";
		    cell21.align = "center";
		    cell22.innerHTML = " ";
		    cell23.innerHTML = " ";
		    cell24.innerHTML = " ";
		    cell25.innerHTML = " ";
		    cell26.innerHTML = " ";
		    cell27.innerHTML = " ";
		}
		
		var stMaxDownMin = {{ datas[ 2 ][ 0 ] }}
		var szMaxDownMin = {{ datas[ 2 ][ 1 ] }}
		var shMaxDownMin = {{ datas[ 2 ][ 2 ] }}
		var maxDownDiffMin = {{ datas[ 2 ][ 3 ] }}
		
		var stMaxUpMin = {{ datas[ 2 ][ 4 ] }}
		var szMaxUpMin = {{ datas[ 2 ][ 5 ] }}
		var shMaxUpMin = {{ datas[ 2 ][ 6 ] }}
		var maxUpDiffMin = {{ datas[ 2 ][ 7 ] }}
		
		var stUpMin = {{ datas[ 2 ][ 8 ] }}
		var szUpMin = {{ datas[ 2 ][ 9 ] }}
		var shUpMin = {{ datas[ 2 ][ 10 ] }}
		var upDiffMin = {{ datas[ 2 ][ 11 ] }}
		
		function insertMin( table ) {
			var len = table.rows.length
			var row = table.insertRow( len );
			
		    var cell1 = row.insertCell( 0 );
		    var cell2 = row.insertCell( 1 );
		    var cell3 = row.insertCell( 2 );
		    var cell4 = row.insertCell( 3 );
		    var cell5 = row.insertCell( 4 );
		    var cell6 = row.insertCell( 5 );
		    var cell7 = row.insertCell( 6 );
		    var cell8 = row.insertCell( 7 );
		    var cell9 = row.insertCell( 8 );
		    var cell10 = row.insertCell( 9 );
		    var cell11 = row.insertCell( 10 );
		    var cell12 = row.insertCell( 11 );
		    var cell13 = row.insertCell( 12 );
		    var cell14 = row.insertCell( 13 );
		    var cell15 = row.insertCell( 14 );
		    var cell16 = row.insertCell( 15 );
		    var cell17 = row.insertCell( 16 );
		    var cell18 = row.insertCell( 17 );
		    var cell19 = row.insertCell( 18 );
		    var cell20 = row.insertCell( 19 );
		    var cell21 = row.insertCell( 20 );
		    var cell22 = row.insertCell( 21 );
		    var cell23 = row.insertCell( 22 );
		    var cell24 = row.insertCell( 23 );
		    var cell25 = row.insertCell( 24 );
		    var cell26 = row.insertCell( 25 );
		    var cell27 = row.insertCell( 26 );
		    
		    cell1.innerHTML = "最小";
		    cell1.style.fontSize = "14px";
		    cell1.align = "center";
		    cell2.innerHTML = " ";
		    cell3.innerHTML = " ";
		    cell4.innerHTML = " ";
		    cell5.innerHTML = " ";
		    cell6.innerHTML = " ";
		    cell7.innerHTML= stMaxDownMin + "%";
		    cell7.style.fontSize = "14px";
		    cell7.align = "center";
		    cell8.innerHTML = szMaxDownMin + "%";
		    cell8.style.fontSize = "14px";
		    cell8.align = "center";
		    cell9.innerHTML = shMaxDownMin + "%";
		    cell9.style.fontSize = "14px";
		    cell9.align = "center";
		    cell10.innerHTML = maxDownDiffMin + "%";
		    cell10.style.fontSize = "14px";
		    cell10.align = "center";
		    cell11.innerHTML = " ";
		    cell12.innerHTML = " ";
		    cell13.innerHTML = stMaxUpMin + "%";
		    cell13.style.fontSize = "14px";
		    cell13.align = "center";
		    cell14.innerHTML = szMaxUpMin + "%";
		    cell14.style.fontSize = "14px";
		    cell14.align = "center";
		    cell15.innerHTML = shMaxUpMin + "%";
		    cell15.style.fontSize = "14px";
		    cell15.align = "center";
		    cell16.innerHTML = maxUpDiffMin + "%";
		    cell16.style.fontSize = "14px";
		    cell16.align = "center";
		    cell17.innerHTML = " ";
		    cell18.innerHTML = stUpMin + "%";
		    cell18.style.fontSize = "14px";
		    cell18.align = "center";
		    cell19.innerHTML = szUpMin + "%";
		    cell19.style.fontSize = "14px";
		    cell19.align = "center";
		    cell20.innerHTML = shUpMin + "%";
		    cell20.style.fontSize = "14px";
		    cell20.align = "center";
		    cell21.innerHTML = upDiffMin + "%";
		    cell21.style.fontSize = "14px";
		    cell21.align = "center";
		    cell22.innerHTML = " ";
		    cell23.innerHTML = " ";
		    cell24.innerHTML = " ";
		    cell25.innerHTML = " ";
		    cell26.innerHTML = " ";
		    cell27.innerHTML = " ";
		}
		
		var stMaxDownMax = {{ datas[ 3 ][ 0 ] }}
		var szMaxDownMax = {{ datas[ 3 ][ 1 ] }}
		var shMaxDownMax = {{ datas[ 3 ][ 2 ] }}
		var maxDownDiffMax = {{ datas[ 3 ][ 3 ] }}
		
		var stMaxUpMax = {{ datas[ 3 ][ 4 ] }}
		var szMaxUpMax = {{ datas[ 3 ][ 5 ] }}
		var shMaxUpMax = {{ datas[ 3 ][ 6 ] }}
		var maxUpDiffMax = {{ datas[ 3 ][ 7 ] }}
		
		var stUpMax = {{ datas[ 3 ][ 8 ] }}
		var szUpMax = {{ datas[ 3 ][ 9 ] }}
		var shUpMax = {{ datas[ 3 ][ 10 ] }}
		var upDiffMax = {{ datas[ 3 ][ 11 ] }}
		
		function insertMax( table ) {
			var len = table.rows.length
			var row = table.insertRow( len );
			
		    var cell1 = row.insertCell( 0 );
		    var cell2 = row.insertCell( 1 );
		    var cell3 = row.insertCell( 2 );
		    var cell4 = row.insertCell( 3 );
		    var cell5 = row.insertCell( 4 );
		    var cell6 = row.insertCell( 5 );
		    var cell7 = row.insertCell( 6 );
		    var cell8 = row.insertCell( 7 );
		    var cell9 = row.insertCell( 8 );
		    var cell10 = row.insertCell( 9 );
		    var cell11 = row.insertCell( 10 );
		    var cell12 = row.insertCell( 11 );
		    var cell13 = row.insertCell( 12 );
		    var cell14 = row.insertCell( 13 );
		    var cell15 = row.insertCell( 14 );
		    var cell16 = row.insertCell( 15 );
		    var cell17 = row.insertCell( 16 );
		    var cell18 = row.insertCell( 17 );
		    var cell19 = row.insertCell( 18 );
		    var cell20 = row.insertCell( 19 );
		    var cell21 = row.insertCell( 20 );
		    var cell22 = row.insertCell( 21 );
		    var cell23 = row.insertCell( 22 );
		    var cell24 = row.insertCell( 23 );
		    var cell25 = row.insertCell( 24 );
		    var cell26 = row.insertCell( 25 );
		    var cell27 = row.insertCell( 26 );
		    
		    cell1.innerHTML = "最大";
		    cell1.style.fontSize = "14px";
		    cell1.align = "center";
		    cell2.innerHTML = " ";
		    cell3.innerHTML = " ";
		    cell4.innerHTML = " ";
		    cell5.innerHTML = " ";
		    cell6.innerHTML = " ";
		    cell7.innerHTML= stMaxDownMax + "%";
		    cell7.style.fontSize = "14px";
		    cell7.align = "center";
		    cell8.innerHTML = szMaxDownMax + "%";
		    cell8.style.fontSize = "14px";
		    cell8.align = "center";
		    cell9.innerHTML = shMaxDownMax + "%";
		    cell9.style.fontSize = "14px";
		    cell9.align = "center";
		    cell10.innerHTML = maxDownDiffMax + "%";
		    cell10.style.fontSize = "14px";
		    cell10.align = "center";
		    cell11.innerHTML = " ";
		    cell12.innerHTML = " ";
		    cell13.innerHTML = stMaxUpMax + "%";
		    cell13.style.fontSize = "14px";
		    cell13.align = "center";
		    cell14.innerHTML = szMaxUpMax + "%";
		    cell14.style.fontSize = "14px";
		    cell14.align = "center";
		    cell15.innerHTML = shMaxUpMax + "%";
		    cell15.style.fontSize = "14px";
		    cell15.align = "center";
		    cell16.innerHTML = maxUpDiffMax + "%";
		    cell16.style.fontSize = "14px";
		    cell16.align = "center";
		    cell17.innerHTML = " ";
		    cell18.innerHTML = stUpMax + "%";
		    cell18.style.fontSize = "14px";
		    cell18.align = "center";
		    cell19.innerHTML = szUpMax + "%";
		    cell19.style.fontSize = "14px";
		    cell19.align = "center";
		    cell20.innerHTML = shUpMax + "%";
		    cell20.style.fontSize = "14px";
		    cell20.align = "center";
		    cell21.innerHTML = upDiffMax + "%";
		    cell21.style.fontSize = "14px";
		    cell21.align = "center";
		    cell22.innerHTML = " ";
		    cell23.innerHTML = " ";
		    cell24.innerHTML = " ";
		    cell25.innerHTML = " ";
		    cell26.innerHTML = " ";
		    cell27.innerHTML = " ";
		}
		
		var maxDownDiff = {{ datas[ 4 ][ 0 ] }}
		var maxUpDiff = {{ datas[ 4 ][ 1 ] }}
		var upDiff = {{ datas[ 4 ][ 2 ] }}
		
		function insertDiff( table ) {
			var len = table.rows.length
			var row = table.insertRow( len );
			
		    var cell1 = row.insertCell( 0 );
		    var cell2 = row.insertCell( 1 );
		    var cell3 = row.insertCell( 2 );
		    var cell4 = row.insertCell( 3 );
		    var cell5 = row.insertCell( 4 );
		    var cell6 = row.insertCell( 5 );
		    var cell7 = row.insertCell( 6 );
		    var cell8 = row.insertCell( 7 );
		    var cell9 = row.insertCell( 8 );
		    var cell10 = row.insertCell( 9 );
		    var cell11 = row.insertCell( 10 );
		    var cell12 = row.insertCell( 11 );
		    var cell13 = row.insertCell( 12 );
		    var cell14 = row.insertCell( 13 );
		    var cell15 = row.insertCell( 14 );
		    var cell16 = row.insertCell( 15 );
		    var cell17 = row.insertCell( 16 );
		    var cell18 = row.insertCell( 17 );
		    var cell19 = row.insertCell( 18 );
		    var cell20 = row.insertCell( 19 );
		    var cell21 = row.insertCell( 20 );
		    var cell22 = row.insertCell( 21 );
		    var cell23 = row.insertCell( 22 );
		    var cell24 = row.insertCell( 23 );
		    var cell25 = row.insertCell( 24 );
		    var cell26 = row.insertCell( 25 );
		    var cell27 = row.insertCell( 26 );
		    
		    cell1.innerHTML = "<=0 %";
		    cell1.style.fontSize = "14px";
		    cell1.align = "center";
		    cell2.innerHTML = " ";
		    cell3.innerHTML = " ";
		    cell4.innerHTML = " ";
		    cell5.innerHTML = " ";
		    cell6.innerHTML = " ";
		    cell7.innerHTML= " ";
		    cell7.style.fontSize = "14px";
		    cell7.align = "center";
		    cell8.innerHTML = " ";
		    cell8.style.fontSize = "14px";
		    cell8.align = "center";
		    cell9.innerHTML = " ";
		    cell9.style.fontSize = "14px";
		    cell9.align = "center";
		    cell10.innerHTML = maxDownDiff + "%";
		    cell10.style.fontSize = "14px";
		    cell10.align = "center";
		    cell11.innerHTML = " ";
		    cell12.innerHTML = " ";
		    cell13.innerHTML = " ";
		    cell13.style.fontSize = "14px";
		    cell13.align = "center";
		    cell14.innerHTML = " ";
		    cell14.style.fontSize = "14px";
		    cell14.align = "center";
		    cell15.innerHTML = " ";
		    cell15.style.fontSize = "14px";
		    cell15.align = "center";
		    cell16.innerHTML = maxUpDiff + "%";
		    cell16.style.fontSize = "14px";
		    cell16.align = "center";
		    cell17.innerHTML = " ";
		    cell18.innerHTML = " ";
		    cell18.style.fontSize = "14px";
		    cell18.align = "center";
		    cell19.innerHTML = " ";
		    cell19.style.fontSize = "14px";
		    cell19.align = "center";
		    cell20.innerHTML = " ";
		    cell20.style.fontSize = "14px";
		    cell20.align = "center";
		    cell21.innerHTML = upDiff + "%";
		    cell21.style.fontSize = "14px";
		    cell21.align = "center";
		    cell22.innerHTML = " ";
		    cell23.innerHTML = " ";
		    cell24.innerHTML = " ";
		    cell25.innerHTML = " ";
		    cell26.innerHTML = " ";
		    cell27.innerHTML = " ";
		}
		
		//查找表格的<th>元素，让它们可单击
		function makeSortable(table) {
			var headers = table.getElementsByTagName("th");
			for (var i = 0; i < headers.length; i++) {
				(function(n) {
					
					var flag = false;
					headers[n].onclick = function() {
						// sortrows(table,n);
						len = table.rows.length
						table.deleteRow( len - 1 )
						table.deleteRow( len - 2 )
						table.deleteRow( len - 3 )
						table.deleteRow( len - 4 )
						
						var tbody = table.tBodies[0];//第一个<tbody>
						var rows = tbody.getElementsByTagName("tr");//tbody中的所有行
						rows = Array.prototype.slice.call(rows, 0);//真实数组中的快照
	
						//基于第n个<td>元素的值对行排序
						rows.sort(function(row1, row2) {
							var cell1 = row1.getElementsByTagName("td")[n];//获得第n个单元格
							var cell2 = row2.getElementsByTagName("td")[n];
							var val1 = cell1.textContent || cell1.innerText;//获得文本内容
							var val2 = cell2.textContent || cell2.innerText;
	
							val1Float = parseFloat( val1 )
							val2Float = parseFloat( val2 )
							
							if (val1Float < val2Float) {
								return -1;
							} else if (val1Float > val2Float) {
								return 1;
							} else {
								return 0;
							}
						});
						if (flag) {
							rows.reverse();
						}
						//在tbody中按它们的顺序把行添加到最后
						//这将自动把它们从当前位置移走，故没必要预先删除它们
						//如果<tbody>还包含了除了<tr>的任何其他元素，这些节点将会悬浮到顶部位置
						for (var i = 0; i < rows.length; i++) {
							tbody.appendChild(rows[i]);
						}
	
						flag = !flag;
						insertAvg( table )
						insertMin( table )
						insertMax( table )
						insertDiff( table )
					}
				}(i));
			}
		}
	
		window.onload = function() {
			//var table = document.getElementsByTagName("table")[0];
			var table = document.getElementById("table1");
			
			insertAvg( table )
			insertMin( table )
			insertMax( table )
			insertDiff( table )
		    makeSortable(table);
		}
	</script>

</head>

<body>
	<!-- <table width="100%">
		<tr style="height: 30px">
			<td>起始价: s_p_c</td>
			<td>最低价: s_l</td>
			<td>最大跌幅: s_d</td>
			<td>最高价: s_h</td>
			<td>最大涨幅: s_u</td>
			<td>时长: d_d</td>
		</tr>
		<tr style="height: 30px">
			<td>收盘价: c_s_p_c</td>
			<td>正最高价: c_s_h</td>
			<td>正最大涨幅: c_s_u</td>
			<td>正最低价: c_s_l</td>
			<td>正最大跌幅: c_s_d</td>
			<td>是否历史最低: i_h_d</td>
		</tr>
	</table> -->
	&nbsp;&nbsp;&nbsp;
	<font size=3>ST前一天收盘价: 起始价</font>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<font size=3>ST期间的最低价: 最低价</font>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<font size=3>ST期间最大跌幅: 最大跌幅</font>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<font size=3>撤销ST之前最高价: 最高价</font>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<font size=3>ST期间最大涨幅: 最大涨幅</font>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<font size=3>跌到最低时长: 时长</font><br>
	&nbsp;&nbsp;&nbsp;
	<font size=3>撤销ST之前的收盘价: 收盘价</font>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<font size=3>撤销ST期间最高价: 正最高价</font>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<font size=3>撤销St最大涨幅: 正最大涨幅</font>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<font size=3>撤销st历史最低价: 正最低价</font>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<font size=3>撤销St最大跌幅: 正最大跌幅</font>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<font size=3>是否历史最低: 历史最低</font><br>
	&nbsp;&nbsp;&nbsp;
	<font size=3>ST期间涨幅: 涨幅</font>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<br>
	<br>
	<table width="100%" id="table1" border="1"  cellspacing="0" cellpadding="0" bordercolor="#000000" style="BORDER-COLLAPSE: collapse">
		<thead>
			<tr style="height: 30px">
				<th align="center" style="font-size:12px;">代码</th>
				<th align="center" style="font-size:12px;">股票名</th>
				<th align="center" style="font-size:12px;">ST期间</th>
				<th align="center" style="font-size:12px;" class="cursor">ST时长(天)</th>
				<th align="center" style="font-size:12px;" class="cursor">起始价</th>
				<th align="center" style="font-size:12px;" class="cursor">最低价</th>
				<th align="center" style="font-size:12px;" class="cursor">最大跌幅(%)</th>
				<th align="center" style="font-size:12px;" class="cursor">深最大跌(%)</th>
				<th align="center" style="font-size:12px;" class="cursor">上最大跌(%)</th>
				<th align="center" style="font-size:12px;" class="cursor">差值(%)</th>
				<th align="center" style="font-size:12px;" class="cursor">时长(天)</th>
				<th align="center" style="font-size:12px;" class="cursor">最高价</th>
				<th align="center" style="font-size:12px;" class="cursor">最大涨幅(%)</th>
				<th align="center" style="font-size:12px;" class="cursor">深最大涨(%)</th>
				<th align="center" style="font-size:12px;" class="cursor">上最大涨(%)</th>
				<th align="center" style="font-size:12px;" class="cursor">差值(%)</th>
				<th align="center" style="font-size:12px;" class="cursor">收盘价</th>
				<th align="center" style="font-size:12px;" class="cursor">涨幅(%)</th>
				<th align="center" style="font-size:12px;" class="cursor">深涨(%)</th>
				<th align="center" style="font-size:12px;" class="cursor">上涨(%)</th>
				<th align="center" style="font-size:12px;" class="cursor">差值(%)</th>
				<th align="center" style="font-size:12px;">撤销ST时间</th>
				<th align="center" style="font-size:12px;" class="cursor">正最高价</th>
				<th align="center" style="font-size:12px;" class="cursor">正最大涨幅(%)</th>
				<th align="center" style="font-size:12px;" class="cursor">正最低价</th>
				<th align="center" style="font-size:12px;" class="cursor">正最大跌(%)</th>
				<th align="center" style="font-size:12px;">历史最低</th>
			</tr>
		</thead>
		<tbody id="trPanel">
			{% for data in datas[ 0 ] %}
				<tr style="height: 30px">
					<td align="center" style="font-size:12px;">{{ data[ 0 ] }}</td>
					<td align="center" style="font-size:12px;">{{ data[ 1 ] }}</td>
					<td align="center" style="font-size:12px;">{{ data[ 2 ] }}</td>
					<td align="center" style="font-size:12px;">{{ data[ 17 ] }}</td>
					<td align="center" style="font-size:12px;">{{ data[ 3 ] }}</td>
					<td align="center" style="font-size:12px;">{{ data[ 4 ] }}</td>
					<td align="center" style="font-size:12px;">{{ data[ 5 ] }}</td>
					<td align="center" style="font-size:12px;">{{ data[ 18 ] }}</td>
					<td align="center" style="font-size:12px;">{{ data[ 19 ] }}</td>
					<td align="center" style="font-size:12px;">{{ data[ 24 ] }}</td>
					<td align="center" style="font-size:12px;">{{ data[ 8 ] }}</td>
					<td align="center" style="font-size:12px;">{{ data[ 6 ] }}</td>
					<td align="center" style="font-size:12px;">{{ data[ 7 ] }}</td>
					<td align="center" style="font-size:12px;">{{ data[ 20 ] }}</td>
					<td align="center" style="font-size:12px;">{{ data[ 21 ] }}</td>
					<td align="center" style="font-size:12px;">{{ data[ 25 ] }}</td>
					<td align="center" style="font-size:12px;">{{ data[ 10 ] }}</td>
					<td align="center" style="font-size:12px;">{{ data[ 16 ] }}</td>
					<td align="center" style="font-size:12px;">{{ data[ 22 ] }}</td>
					<td align="center" style="font-size:12px;">{{ data[ 23 ] }}</td>
					<td align="center" style="font-size:12px;">{{ data[ 26 ] }}</td>
					<td align="center" style="font-size:12px;">{{ data[ 9 ] }}</td>
					<td align="center" style="font-size:12px;">{{ data[ 11 ] }}</td>
					<td align="center" style="font-size:12px;">{{ data[ 12 ] }}</td>
					<td align="center" style="font-size:12px;">{{ data[ 13 ] }}</td>
					<td align="center" style="font-size:12px;">{{ data[ 14 ] }}</td>
					<td align="center" style="font-size:12px;">{{ data[ 15 ] }}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	<!-- 
	<table width="100%" id="table2">
		<tr style="height: 30px">
				<td align="center" style="font-size:12px;">汇总:</td>
				<td align="center" style="font-size:12px;VISIBILITY:hidden;">股票名称</td>
				<td align="center" style="font-size:12px;VISIBILITY:hidden;">20180814-201000</td>
				<td align="center" style="font-size:12px;VISIBILITY:hidden;">ST时长(天)</td>
				<td align="center" style="font-size:12px;VISIBILITY:hidden;">起始价</td>
				<td align="center" style="font-size:12px;VISIBILITY:hidden;">最低</td>
				<td align="center" style="font-size:12px;">{{ datas[ 1 ][ 0 ]}}%</td>
				<td align="center" style="font-size:12px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ datas[ 1 ][ 1 ]}}%</td>
				<td align="center" style="font-size:12px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ datas[ 1 ][ 2 ]}}%</td>
				<td align="center" style="font-size:12px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ datas[ 1 ][ 3 ]}}%</td>
				<td align="center" style="font-size:12px;VISIBILITY:hidden;">时长(天)</td>
				<td align="center" style="font-size:12px;VISIBILITY:hidden;">最高</td>
				<td align="center" style="font-size:12px;">&nbsp;&nbsp;{{ datas[ 1 ][ 4 ]}}%</td>
				<td align="center" style="font-size:12px;">&nbsp;&nbsp;&nbsp;{{ datas[ 1 ][ 5 ]}}%</td>
				<td align="center" style="font-size:12px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ datas[ 1 ][ 6 ]}}%</td>
				<td align="center" style="font-size:12px;">&nbsp;&nbsp;{{ datas[ 1 ][ 7 ]}}%</td>
				<td align="center" style="font-size:12px;VISIBILITY:hidden;">收&nbsp;</td>
				<td align="center" style="font-size:12px;">&nbsp;&nbsp;{{ datas[ 1 ][ 8 ]}}%</td>
				<td align="center" style="font-size:12px;">&nbsp;&nbsp;{{ datas[ 1 ][ 9 ]}}%</td>
				<td align="center" style="font-size:12px;">{{ datas[ 1 ][ 10 ]}}%</td>
				<td align="center" style="font-size:12px;">{{ datas[ 1 ][ 11 ]}}%</td>
				<td align="center" style="font-size:12px;VISIBILITY:hidden;">撤销ST时间</td>
				<td align="center" style="font-size:12px;VISIBILITY:hidden;">正最高价</td>
				<td align="center" style="font-size:12px;VISIBILITY:hidden;">正最大涨幅(%)</td>
				<td align="center" style="font-size:12px;VISIBILITY:hidden;">正最低价</td>
				<td align="center" style="font-size:12px;VISIBILITY:hidden;">正最大跌(%)</td>
				<td align="center" style="font-size:12px;VISIBILITY:hidden;">历史最低</td>
			</tr>
	</table>
	 -->
</body>
</html>