<!DOCTYPE html>
<html style="height: 100%">
	<head>
		<meta charset="UTF-8">
		<title>Stock</title>
	</head>
	
	<script src="{{ url_for('static', filename='echarts.js') }}"></script>
	<script src="{{ url_for('static', filename='jquery-3.4.0.js') }}"></script>	
		
	<script src="{{ url_for('static', filename='common.js') }}"></script>
	
	<script src="{{ url_for('static', filename='ma.js') }}"></script>
	<script src="{{ url_for('static', filename='rsiIndex.js') }}"></script>
	<script src="{{ url_for('static', filename='kdjIndex.js') }}"></script>
	<script src="{{ url_for('static', filename='macdIndex.js') }}"></script>	
       	
    <body style="height: 100%; margin: 0">
    	<br>
    	<div style="text-align:center;">
	    	MA1: 
	    	<input id="ma1" type="text" value="5" size = "2" />
	    	MA2: 
	    	<input id="ma2" type="text" value="10" size = "2" />
	    	MA3: 
	    	<input id="ma3" type="text" value="20" size = "2" />
	    	MA4: 
	    	<input id="ma4" type="text" value="30" size = "2" />
	    	<button onclick="draw()">确定</button>
    	</div>
    	<br>
		<div id="container" style="height: 100%">
		</div>
	</body>
       	
	<script type="text/javascript">
       	$.ajaxSetup({  
	    	async : false  
	    });  	// 将请求设置为同步
	       	
     	// 数据意义：开盘(open)，收盘(close)，最低(lowest)，最高(highest)， 成交量(volume)
   		var data;	// 股票或指数数据
	    var dataForBuy;		// 买点数据
	    var dataForDown;	// 连跌点数据
	    var dataForUp;			// 连涨点数据
	    var dataForSell;		// 卖点数据
	    
	    var macdDatas;	// macd指标相关数据
	    var rsiDatas;		// rsi指标相关数据
	    var kdjDatas;
	
	    // 获取指定股票数据
	    $.getJSON( '/index_day/b001/399001.SZ' ).done( function( datas ) {
	    	data = splitData( datas.data )
	    	dataForBuy = datas.buy
	    	dataForDown = datas.down
	    	dataForUp = datas.up
	    	dataForSell = datas.sell
	    });
	    
	   	var dom = document.getElementById("container");
       	var myChart = echarts.init(dom);
       	var app = {};
       	option = null;
       	var upColor = '#ec0000';
       	var downColor = '#00da3c';
       	
       	function draw() {
       		
       		var ma1 = document.getElementById("ma1").value;
       		var ma2 = document.getElementById("ma2").value;
       		var ma3 = document.getElementById("ma3").value;
       		var ma4 = document.getElementById("ma4").value;
       		
       		var title = new Array( 5 );
       		title[ 0 ] = "K线";
       		title[ 1 ] = "MA" + ma1;
       		title[ 2 ] = "MA" + ma2;
       		title[ 3 ] = "MA" + ma3;
       		title[ 4 ] = "MA" + ma4;
       		
       		macdDatas = computeMacd( data.values )
	    	rsiDatas = computeRsi( data.values, 6, 12, 24)
	    	kdjDatas = calcKDJ( 9, 3, 3, data.values );
       		
	       	option = {
	       		backgroundColor: '#fff',
	       		animation: false,
	       		title: {
	       		    text: '000001.SZ',
	       		    left: 100
	       		},
	       		legend: {
	       		    left: 'center',
	       		 	data: title
	       		},
	       		tooltip: {
	       		    trigger: 'axis',
	       		    axisPointer: {
	       		        type: 'cross'
	       		    },
	       		    backgroundColor: 'rgba(245, 245, 245, 0.8)',
	       		    borderWidth: 1,
	       		    borderColor: '#ccc',
	       		    padding: 10,
	       		    textStyle: {
	       		        color: '#000'
	       		    },
	       		    position: function (pos, params, el, elRect, size) {
	       		        var obj = {top: 10};
	       		        obj[['left', 'right'][+(pos[0] < size.viewSize[0] / 2)]] = 30;
	       		
	       		        return obj;
	       		    }
	       		},
	       		axisPointer: {
	       		    link: {xAxisIndex: 'all'},
	       		    label: {
	       		        backgroundColor: '#777'
	       		    }
	       		},
	       		toolbox: {
	       		    feature: {
		       		    dataZoom: {
		       		        yAxisIndex: false
		       		    },
		       		    brush: {
		       		        type: ['lineX', 'clear']
		       		    }
	       		    }
	       		},
	       		brush: {
	       		    xAxisIndex: 'all',
	       		    brushLink: 'all',
	       		    outOfBrush: {
	       		    	colorAlpha: 0.1
	       		    }
	       		},
	       		visualMap: {
	       		    show: false,
	       		    seriesIndex: 5,
	       		    dimension: 2,
	       		    pieces: [ {
	       		    	value: 1,
	       		        color: downColor
	       		    },
	       		    {
	       		        value: -1,
	       		        color: upColor
	       		    }]
	       		},
	       		grid: [ 
	       			{	// K线区域
		       			left: '5%',
		       			right: '30%',
		       		    height: '25%'
	       			},
		       		{	// 成交总量区域
		       		    left: '5%',
		       		    right: '30%',
		       		    top: '35%',
		       		    height: '10%'
		       		},
		       		{	// macd指标区域
		       		    left: '5%',
		       		    right: '30%',
		       		    top: '50%',
		       		    height: '10%'
		       		},
		       		{	// rsi指标区域
		       		    left: '5%',
		       		    right: '30%',
		       		    top: '65%',
		       		    height: '10%'
		       		},
		       		{	// kdj指标区域
		       		    left: '5%',
		       		    right: '30%',
		       		    top: '80%',
		       		    height: '10%'
		       		}
	       		],
	       		
	       		xAxis: [ 
	       			{
	       				// K线X轴
		       		    type: 'category',
		       		    data: data.categoryData,
		       		    scale: true,
		       		    boundaryGap : false,
		       		    axisLine: {onZero: false},
		       		    splitLine: {show: false},
		       		    splitNumber: 20,
		       		    min: 'dataMin',
		       		    max: 'dataMax',
		       		    axisPointer: {
		       		    	z: 100
		       		    }
		       		},
		       		{
		       			// 成交总量X轴
		       			type: 'category',
		       		    gridIndex: 1,
		       		    data: data.categoryData,
		       		    scale: true,
		       		    boundaryGap : true,
		       		    axisLine: {onZero: true},
		       		    axisTick: {show: true},
		       		    splitLine: {show: true},
		       		    axisLabel: {show: true},
		       		    splitNumber: 20,
		       		    min: 'dataMin',
		       		    max: 'dataMax'
		       		},
		       		{	// macd指标X轴
		         		type: 'category',
		         	    gridIndex: 2,
		         	    data: data.categoryData,
		         	    scale: true,
			       		boundaryGap : true,
			       		axisLine: {onZero: true},
			       		axisTick: {show: true},
			       		splitLine: {show: true},
			       		axisLabel: {show: true},
			       		splitNumber: 20
		         	  },
		         	 {	// rsi指标X轴
			         	type: 'category',
			         	gridIndex: 3,
			         	data: data.categoryData,
			         	scale: true,
				       	boundaryGap : true,
				       	axisLine: {onZero: true},
				       	axisTick: {show: true},
				       	splitLine: {show: true},
				       	axisLabel: {show: true},
				    	splitNumber: 20
			    	},
			    	{	// kdj指标X轴
			         	type: 'category',
			         	gridIndex: 4,
			         	data: data.categoryData,
			         	scale: true,
				       	boundaryGap : true,
				       	axisLine: {onZero: true},
				       	axisTick: {show: true},
				       	splitLine: {show: true},
				       	axisLabel: {show: true},
				    	splitNumber: 20
			    	}
		       	],
	       		
	       		
	       		yAxis: [ 
	       			{
		       		    scale: true,
		       		    splitArea: {
		       		    	show: false
		       		    }
		       		},
		       		{
		       			// 成交总量Y轴
		       			scale: true,
		       		    gridIndex: 1,
		       		    splitNumber: 5,
		       		    axisLabel: {show: true},
		       		    axisLine: {show: true},
		       		    axisTick: {show: true},
		       		    splitLine: {show: true}
		       		},
		       		{	// macd指标Y轴
		         		  gridIndex: 2,
		         	      splitNumber: 10,
		         	      axisLine: {onZero: true},
		         	      axisTick: {show: true},
		         	      splitLine: {show: true},
		         	      axisLabel: {show: true}
		         	  },
		         	 {	// rsi指标Y轴
		         		  gridIndex: 3,
		         	      splitNumber: 10,
		         	      axisLine: {onZero: true},
		         	      axisTick: {show: true},
		         	      splitLine: {show: true},
		         	      axisLabel: {show: true}
		         	  },
		         	 {	// kdj指标Y轴
		         		  gridIndex: 4,
		         	      splitNumber: 10,
		         	      axisLine: {onZero: true},
		         	      axisTick: {show: true},
		         	      splitLine: {show: true},
		         	      axisLabel: {show: true}
		         	  }
		       	],
	       		
	       		dataZoom: [ 
	       			{
	       		    	type: 'inside',
	       		    	xAxisIndex: [0, 0],
	       		    	start: 98,
	       		    	end: 100
	       		    },
	       		    {
	       		    	show: true,
	       		        xAxisIndex: [0, 1],
	       		        type: 'slider',
	       		        top: '95%',
	       		        start: 98,
	       		        end: 100,
	       		        handleSize: '150%'
	       		    },
	       		 	{	// macd指标缩放
	             	      show: false,
	             	      xAxisIndex: [0, 2],
	             	      type: 'slider',
	             	      start: 98,
	             	      end: 100
	             	  },
	             	 {	// rsi指标缩放
	             	      show: false,
	             	      xAxisIndex: [0, 3],
	             	      type: 'slider',
	             	      start: 98,
	             	      end: 100
	             	  },
	             	 {	// kdj指标缩放
	             	      show: false,
	             	      xAxisIndex: [0, 4],
	             	      type: 'slider',
	             	      start: 98,
	             	      end: 100
	             	  }
	       		],
	       		    
	       		    
	       		    series: [ {
	       		    	name: 'K线',
	       		        type: 'candlestick',
	       		        data: data.values,
	       		        itemStyle: {
	       		         	normal: {
	       		           		color: upColor,
	       		            	color0: downColor,
	       		            	borderColor: null,
	       		            	borderColor0: null
	       		            }
	       		        },
	       		        tooltip: {
	       		         	formatter: function (param) {
	       		           	param = param[0];
	       		            return [
	       		            	'Date: ' + param.name + '<hr size=1 style="margin: 3px 0">',
	       		                'Open: ' + param.data[0] + '<br/>',
	       		                'Close: ' + param.data[1] + '<br/>',
	       		                'Lowest: ' + param.data[2] + '<br/>',
	       		                'Highest: ' + param.data[3] + '<br/>' ].join('');
	       		        	}
	       		        }
	       		    },{
	       		    	name: title[ 1 ],
	       		        type: 'line',
	       		        data: calculateMA(ma1, data),
	       		        smooth: true,
	       		        showSymbol: false,
	       		        lineStyle: {
	       		        	normal: {opacity: 0.5}
	       		        }
	       		    },
	       		    {
	       		    	name: title[ 2 ],
	       		        type: 'line',
	       		        data: calculateMA(ma2, data),
	       		        smooth: true,
	       		        showSymbol: false,
	       		        lineStyle: {
	       		        	normal: {opacity: 0.5}
	       		        }
	       		    },
	       		    {
	       		    	name: title[ 3 ],
	       		        type: 'line',
	       		        data: calculateMA(ma3, data),
	       		        smooth: true,
	       		        showSymbol: false,
	       		        lineStyle: {
	       		        	normal: {opacity: 0.5}
	       		        }
	       		    },
	       		    {
	       		    	name: title[ 4 ],
	       		        type: 'line',
	       		        data: calculateMA(ma4, data),
	       		        smooth: true,
	       		        showSymbol: false,
	       		        lineStyle: {
	       		        	normal: {opacity: 0.5}
	       		        }
	       		    },
	       		    {
	       		    	name: 'Volume',
	       		        type: 'bar',
	       		        xAxisIndex: 1,
	       		        yAxisIndex: 1,
	       		        data: data.volumes
	       		    },
	       		    {
		       			name: 'Down',
		       		    type: 'scatter',
		       		    symbol: 'pin',
		       		    data: dataForDown,
		       		    symbolSize:20,
		       		    showEffectOn: 'render',
		       		    rippleEffect: {
		       		    brushType: 'stroke'
		       		},
		       		hoverAnimation: true,
		       			label: {
		       		    	normal: {
		       		        	formatter: '{b}',
		       		            position: 'top',
		       		            color: "black",
		       		            show: true
		       		        }
		       		    },
		       		    itemStyle: {
		       		    	normal: {
		       		        	color: 'blue',
		       		            shadowBlur: 10,
		       		            shadowColor: '#333'
		       		        }
		       		    },
		       		    zlevel: 1
		       		},
			       	{
		       			name: 'Buy',
			       		symbolSize: 20,
			       		data: dataForBuy,
			       		type: 'scatter',
			       		symbol: 'triangle',
			       		itemStyle: {
			       			normal: {
			       		    	color: 'blue',
			       		    }
			       		},
			       	},
			       	
			       	
			       	
			       	{
		       			name: 'Up',
		       		    type: 'scatter',
		       		    symbol: 'pin',
		       		    data: dataForUp,
		       		    symbolSize:20,
		       		    showEffectOn: 'render',
		       		    rippleEffect: {
		       		    brushType: 'stroke'
		       		},
		       		hoverAnimation: true,
		       			label: {
		       		    	normal: {
		       		        	formatter: '{b}',
		       		            position: 'top',
		       		            color: "black",
		       		            show: true
		       		        }
		       		    },
		       		    itemStyle: {
		       		    	normal: {
		       		        	color: 'orange',
		       		            shadowBlur: 10,
		       		            shadowColor: 'orange'
		       		        }
		       		    },
		       		    zlevel: 1
		       		},
		       		
		       		
			       	{
		       			name: 'Sell',
			       		symbolSize: 20,
			       		data: dataForSell,
			       		type: 'scatter',
			       		symbol: 'triangle',
			       		itemStyle: {
			       			normal: {
			       		    	color: 'orange',
			       		    }
			       		},
			       	},
			       	
			       	
			       	
	       		 	{
	         	          name: 'MACD',
	         	          type: 'bar',
	         	          xAxisIndex: 2,
	         	          yAxisIndex: 2,
	         	          data: macdDatas.allMacd,
	         	         barWidth: 3,
	         	          itemStyle: {
	         		    	  normal: {
	         			          color: function(params) {
	         			              var colorList;
	         			              if (params.data >= 0) {
	         			                  colorList = '#ec0000';
	         			              } else {
	         			                  colorList = '#00da3c';
	         			              }
	         			              return colorList;
	         			          },
	         			      }
	         		      }
	         	      },
	         	     {
	           	          name: 'DIF',
	           	          type: 'line',
	           	          xAxisIndex: 2,
	           	          yAxisIndex: 2,
	           	       	  showSymbol: false,
	           	          data: macdDatas.allDiff
	           	      },
	           	      {
	           	          name: 'DEA',
	           	          type: 'line',
	           	          xAxisIndex: 2,
	           	          yAxisIndex: 2,
	           	          showSymbol: false,
	           	          data: macdDatas.allDea
	           	      },
	           	      
	           	   {
	           	          name: 'rsi6',
	           	          type: 'line',
	           	          xAxisIndex: 3,
	           	          yAxisIndex: 3,
	           	          showSymbol: false,
	           	          data: rsiDatas.rsi1
	           	      },
	           	   {
	           	          name: 'rsi12',
	           	          type: 'line',
	           	          xAxisIndex: 3,
	           	          yAxisIndex: 3,
	           	          showSymbol: false,
	           	          data: rsiDatas.rsi2
	           	     },
	           	   	{
	           	          name: 'rsi24',
	           	          type: 'line',
	           	          xAxisIndex: 3,
	           	          yAxisIndex: 3,
	           	          showSymbol: false,
	           	          data: rsiDatas.rsi3
	           	      },
	           	   {
	           	          name: 'K',
	           	          type: 'line',
	           	          xAxisIndex: 4,
	           	          yAxisIndex: 4,
	           	          showSymbol: false,
	           	          data: kdjDatas.k
	           	      },
	           	   {
	           	          name: 'D',
	           	          type: 'line',
	           	          xAxisIndex: 4,
	           	          yAxisIndex: 4,
	           	          showSymbol: false,
	           	          data: kdjDatas.d
	           	      },
	           	   {
	           	          name: 'J',
	           	          type: 'line',
	           	          xAxisIndex: 4,
	           	          yAxisIndex: 4,
	           	          showSymbol: false,
	           	          data: kdjDatas.j
	           	      }
	           	      
	           	      
	       		    ]
	       		};
	       		
	       		if (option && typeof option === "object") {
	       		    myChart.setOption(option, true);
	       		}
       	}
       	
       	draw()
    </script>
       		
</html>